<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pdf">
            <h2><span>Pdf</span> {{ pdf.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Pdfdata</span></dt>
                <dd>
                    <div *ngIf="pdf.pdfdata">
                        <a (click)="openFile(pdf.pdfdataContentType, pdf.pdfdata)">open</a>
                        {{ pdf.pdfdataContentType }}, {{ byteSize(pdf.pdfdata) }}
                    </div>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ pdf.title }}</span>
                </dd>
                <dt><span>Course</span></dt>
                <dd>
                    <span>{{ pdf.course }}</span>
                </dd>
            </dl>

            <p>Ansicht:</p>
            <ngx-extended-pdf-viewer
                                     [base64Src]="pdf.pdfdata"
                                     backgroundColor="#ffffff"
                                     [height]="'90vh'"
                                     [useBrowserLocale]="true"
                                     [handTool]="false"
                                     [showHandToolButton]="true"
            ></ngx-extended-pdf-viewer>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pdf', pdf.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
