<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pdf-heading">Create or edit a Pdf</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pdfdata">Pdfdata</label>
                    <div>
                        <div *ngIf="editForm.get('pdfdata')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('pdfdataContentType')!.value, editForm.get('pdfdata')!.value)">open</a><br>
                            <span class="pull-left">{{ editForm.get('pdfdataContentType')!.value }}, {{ byteSize(editForm.get('pdfdata')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({pdfdata: null});editForm.patchValue({pdfdataContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_pdfdata" (change)="setFileData($event, 'pdfdata', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="pdfdata" id="field_pdfdata"
                           formControlName="pdfdata"/>
                    <input type="hidden" class="form-control" name="pdfdataContentType" id="field_pdfdataContentType"
                           formControlName="pdfdataContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                    <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_course">Course</label>
                    <input type="text" class="form-control" name="course" id="field_course"
                           formControlName="course"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
