<div>
    <h2 id="page-heading">
        <span>Pdfs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pdf" [routerLink]="['/pdf/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Pdf
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pdfs?.length === 0">
        <span>No pdfs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pdfs && pdfs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pdfdata"><span>Pdfdata</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span>Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="course"><span>Course</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let pdf of pdfs ;trackBy: trackId">
                    <td><a [routerLink]="['/pdf', pdf.id, 'view']">{{ pdf.id }}</a></td>
                    <td>
                        <a *ngIf="pdf.pdfdata" (click)="openFile(pdf.pdfdataContentType, pdf.pdfdata)">open</a>
                        <span *ngIf="pdf.pdfdata">{{ pdf.pdfdataContentType }}, {{ byteSize(pdf.pdfdata) }}</span>
                    </td>
                    <td>{{ pdf.title }}</td>
                    <td>{{ pdf.course }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pdf', pdf.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pdf', pdf.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pdf)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
