<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome, Student!</h1>

        <p class="lead">This is your way to hear the scripts:</p>
    </div>
</div>
